1           # game mode 1 - ручной ввод, 2 - ввод из commmands.txt
1.1         # game.version
2           # лимит на ходы для каждого игрока каждый ход
10000000000 # количество прогонов игры(позже реализую)
2 1 0       # первая цифра - число игроков, затем их вид - 0- человек, 1- автомат
4           # очки, которые нужно набрать для выигрыша- после выигрыша происходит сброс игры
2           # количество роботов на игрока
0           # количество зарядок(не делала эту часть проекта)